<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHESS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/floating.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">
</head>
<body>
    <form class="form-signin" action="http://127.0.0.1:5000/init" method="post">
        <div class="text-center mb-4">
          <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">CHESS GAME</h1>
          <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
        </div>
      
        <!-- <div class="form-label-group">
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputEmail">Email address</label>
        </div>
      
        <div class="form-label-group">
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <label for="inputPassword">Password</label>
        </div> -->

        <div class="form-label-group">
            <label for="comp_engine"><strong>OPPONENT</strong></label>
            <select class="custom-select custom-select-lg mb-3" name="comp_engine" required>
              <option value="">Choose...</option>
              <option>stockfish</option>
              <option>komodo</option>
            </select>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">PLAY GAME</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
      </form>
</body>
</html>